@import "http://bourbon.io/";
@font-face {
  font-family: 'avenir-r';
  src: url("../fonts/AvenirNextLTPro-Regular.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/AvenirNextLTPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNextLTPro-Regular.woff") format("woff"), url("../fonts/AvenirNextLTPro-Regular.ttf") format("truetype"), url("../fonts/AvenirNextLTPro-Regular.svg#svgFontName") format("svg");
  /* Legacy iOS */
}
@font-face {
  font-family: 'avenir-b';
  src: url("../fonts/AvenirNextLTPro-Demi.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/AvenirNextLTPro-Demi.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNextLTPro-Demi.woff") format("woff"), url("../fonts/AvenirNextLTPro-Demi.ttf") format("truetype"), url("../fonts/AvenirNextLTPro-Demi.svg#svgFontName") format("svg");
  /* Legacy iOS */
}
.navbar-default {
  margin: 0 0 20px 0;
  border: none;
  text-align: left;
}
.navbar-default .container-fluid {
  background: white;
  padding-left: 0;
}
.navbar-default .container-fluid .navbar-header img {
  margin: 5px 0 0 0;
  width: 110px;
}

@media only screen and (min-width: 768px) {
  .navbar-nav {
    position: absolute;
    bottom: -10px;
    right: 0;
  }
}

.navbar-default .navbar-nav > li > a:hover {
  background: #52504A;
  color: white;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
  background: none;
}

.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  background: #9D9D9D;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:focus,
.dropdown-menu > .active > a:hover {
  background: #9D9D9D;
  color: white !important;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
  background: #52504A;
  color: white;
}

.dropdown-menu {
  border: none;
}
.dropdown-menu li a:hover {
  background: #52504A;
  color: white;
}

.navbar-header .title {
  font-size: 12px;
  position: absolute;
  bottom: 5px;
  animation: title 5s linear infinite;
}
.navbar-header a:hover {
  text-decoration: none;
}

.carousel {
  margin: 0;
}
@media only screen and (min-width: 769px) and (max-width: 1280px) {
  .carousel .carousel-inner {
    max-height: 80vh;
    overflow: hidden;
  }
}
@media only screen and (min-width: 1281px) {
  .carousel .carousel-inner {
    max-height: 84vh;
    overflow: hidden;
  }
}
@media handheld, only screen and (max-width: 768px) {
  .carousel .carousel-inner .item .helper {
    max-height: 350px;
    overflow: hidden;
  }
}
.carousel .carousel-inner .item .helper img {
  width: 100%;
  min-width: 100%;
  height: auto !important;
  border: 0;
}
.carousel .carousel-inner .item .color {
  background: rgba(103, 103, 103, 0.2);
  position: absolute;
  min-height: 100%;
  min-width: 100%;
}
@media handheld, only screen and (max-width: 768px) {
  .carousel .carousel-inner .item .color {
    display: none;
  }
}
.carousel .carousel-inner .item .caption .title-pr {
  text-align: center;
}
@media handheld, only screen and (max-width: 768px) {
  .carousel .carousel-inner .item .caption .title-pr {
    margin: 20px;
  }
}
@media handheld, only screen and (max-width: 768px) {
  .carousel .carousel-inner .item .caption {
    min-height: 260px;
  }
}
@media only screen and (min-width: 768px) {
  .carousel .carousel-inner .item .caption {
    position: absolute;
    z-index: 1;
    top: 50px;
    right: 7%;
    border: 4px solid white;
    width: 340px;
    color: white;
    padding: 4px 10px 15px 10px;
    text-align: center;
    background: rgba(103, 103, 103, 0.3);
  }
}
.carousel .carousel-inner .item .caption h1 {
  font-size: 42px;
  text-align: center;
  margin: 0 5px 0 5px;
  padding: 0;
  padding-bottom: 8px;
}
.carousel .carousel-inner .item .caption h2 {
  font-family: "avenir-r", sans-serif;
  font-weight: bold;
  font-size: 28px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  margin: 0 5px 0 5px;
  padding-bottom: 5px;
}
@media only screen and (min-width: 768px) {
  .carousel .carousel-inner .item .caption h2 {
    margin-bottom: 30vh;
  }
}
.carousel .carousel-inner .item .caption p {
  margin-bottom: 15px;
}
@media only screen and (min-width: 768px) {
  .carousel .carousel-inner .item .caption .button {
    background: rgba(255, 255, 255, 0.3);
    border: 2px solid white;
    font-size: 18px;
    color: white;
    text-align: center;
    padding: 5px 50px 5px 50px;
  }
}
.carousel .carousel-indicators .active {
  transition: 1s ease;
  background-color: white;
}
@media only screen and (min-width: 768px) {
  .carousel .carousel-indicators .active {
    zoom: 1.4;
  }
}
@media handheld, only screen and (max-width: 768px) {
  .carousel .carousel-indicators {
    width: 100%;
    position: relative;
    margin: 0;
    padding: 0;
    bottom: 0;
    height: 100%;
    left: 0;
  }
}
@media only screen and (min-width: 768px) {
  .carousel .carousel-indicators {
    position: absolute;
    left: 5%;
    zoom: 1.3;
  }
}
.carousel .carousel-indicators li {
  background-color: #52504A;
  border: 1px solid #52504A;
}
@media handheld, only screen and (max-width: 768px) {
  .carousel .carousel-indicators li {
    width: 40px;
    height: 40px;
    border-radius: 40px;
  }
}

/*.carousel{
        
    @include MQ(MXL){
        max-height: 84vh;
        overflow: hidden;
            }
    @include MQ(XL){
        max-height: 91vh;
        overflow: hidden;
            }

    .carousel-indicators{
        @include MQ(SM){
            width: 100%;
            position:relative;
            margin: 0;
            padding: 0;
            bottom: 0;
            height: 100%;
            left: 0;
        }        
        @include MQ(MXL){
            position: absolute;
            left: 5%;
            zoom: 1.3;        
        }         
        li{
            background-color: $color-2;
            border: 1px solid $color-2 ;
            
            @include MQ(SM){
                width: 40px;
                height: 40px;
                border-radius: 40px;
            }
        }        
    }    
    .carousel-indicators .active{
        background-color: white;
        @include MQ(MXL){
            zoom: 1.4;            
        }
    }
    .carousel-inner{
        .item{
            max-height: 100%;
            img{
                min-width: 100%;
                height: auto !important;
                border: 0;
            }
            .color{
                background: rgba(108, 106, 89, 0.2);
                position: absolute;
                min-height: 100%;
                min-width: 100%;
                @include MQ(SM){
                    display: none;
                }
            }
            .caption{
                @include MQ(MXL){
                    position: absolute;
                    z-index: $zindex-1;
                    top: 50px;
                    right: 7%;
                    border: 4px solid white;
                    width: 340px;
                    color: $white;
                    padding: 5px;
                    padding-bottom: 10px;
                    text-align: center;
                    //background: rgba(108, 106, 89, 0.28);
                }                    
                h1{
                    font-size: 52px;
                    text-align: center;
                    border-bottom: 2px solid white;
                    margin: 5px;
                    @include MQ(MXL){
                        margin-bottom: 28vh;
                    }
                }
                p{
                    margin-bottom: 10px;
                }
                .button{
                    @include MQ(MXL){
                        width: 150px;
                        background: rgba(255,255,255,0.3);
                        border: 2px solid $white;
                        font-size: 18px;
                        color: white;
                        padding: 0 10px 0 10px;
                    }
                }
            }
        }
    }
}*/
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block;
}

html {
  position: relative;
  min-height: 100%;
  padding: 20px;
  padding-top: 0;
}
@media handheld, only screen and (max-width: 480px) {
  html {
    padding: 0;
  }
}

body {
  min-height: 100%;
  font-family: "avenir-r", sans-serif;
  background: white;
  line-height: 1;
}
@media handheld, only screen and (max-width: 480px) {
  body {
    text-align: center;
  }
}

h1, h2, h3, h4 {
  font-family: "avenir-b", sans-serif;
}

p, a {
  font-size: 16px;
  line-height: 120%;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::after, *::before {
  box-sizing: border-box !important;
}

a {
  text-decoration: none;
}

.dn {
  display: none !important;
}

.fl {
  float: left !important;
}

.fr {
  float: right;
}

.fn {
  float: none;
}

.cb {
  clear: both;
}

hr {
  margin: 0;
  padding: 0;
}

.noticia {
  padding-bottom: 50px;
}
.noticia .contenedor {
  display: block;
  padding: 0;
}
.noticia .contenedor .columna {
  display: table;
  padding: 0px;
  margin: 0;
}
.noticia .contenedor .columna .contenido {
  width: 95%;
  display: table;
  border: 3px solid #52504A;
  margin: 5px;
}
.noticia .contenedor .columna .contenido .img {
  max-height: 370px;
  overflow: hidden;
}
@media handheld, only screen and (max-width: 480px) {
  .noticia .contenedor .columna .contenido .img {
    max-height: 200px;
  }
}
@media handheld, only screen and (max-width: 480px) {
  .noticia .contenedor .columna .contenido .img {
    max-height: 300px;
  }
}
.noticia .contenedor .columna .contenido li {
  margin: 5px;
}
.noticia .contenedor .columna .contenido img {
  width: 100%;
  height: auto;
}
.noticia .contenedor .columna .contenido p {
  margin-bottom: 10px;
  text-align: left;
  padding: 5px;
}

.coleccion {
  margin-top: 0;
}
@media only screen and (min-width: 1281px) {
  .coleccion {
    padding: 50px 50px 20px 50px;
    background: #EDEDEB;
  }
}
.coleccion .contenedor {
  margin: 0;
}
.coleccion .contenedor .columna {
  width: 20%;
}
@media handheld, only screen and (max-width: 768px) {
  .coleccion .contenedor .columna {
    width: 100%;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1280px) {
  .coleccion .contenedor .columna {
    width: 25%;
  }
}
.coleccion .contenedor .columna-2 {
  width: 40%;
}
@media handheld, only screen and (max-width: 768px) {
  .coleccion .contenedor .columna-2 {
    width: 100%;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1280px) {
  .coleccion .contenedor .columna-2 {
    width: 50%;
  }
}
.coleccion .contenedor .texto-cont {
  padding: 5px;
}
.coleccion .contenedor .texto {
  padding: 0 20px 0 0;
  margin-bottom: 10px;
}
.coleccion .contenedor .img {
  padding: 5px;
  overflow: hidden;
}
@media handheld, only screen and (max-width: 480px) {
  .coleccion .contenedor .img {
    max-height: 200px;
  }
}
.coleccion .contenedor .img a img {
  width: 100%;
  height: auto;
}

@media only screen and (min-width: 768px) {
  .ajuste-t {
    height: 280px;
  }

  .ajuste-m {
    height: 33%;
  }
}
.about .wrap {
  background: #000;
}
.about .wrap h2, .about .wrap p, .about .wrap hr {
  color: white;
  margin: 5px;
}
.about .wrap hr {
  max-width: 320px;
}
.about .wrap h2 {
  font-family: "avenir-r", sans-serif;
  font-style: italic;
}
.about .wrap p {
  font-size: 14px;
}
@media handheld, only screen and (max-width: 480px) {
  .about .wrap img {
    display: none;
  }
}

.resena p {
  font-size: 14px;
  margin: 20px 0 10px 0;
}

.about-electra, .about-swim {
  margin: 20px 0 20px 0;
}
.about-electra li, .about-swim li {
  margin: 0;
  padding: 0;
}
.about-electra p, .about-swim p {
  font-size: 14px;
  padding: 15px;
}
@media only screen and (min-width: 768px) {
  .about-electra .recuadro h2, .about-swim .recuadro h2 {
    position: relative;
    top: 40px;
    z-index: 5;
    max-width: 250px;
  }
}
.about-electra .recuadro h2, .about-swim .recuadro h2 {
  border: 2px solid;
  padding: 10px 0 10px 25px;
  margin: 0 auto;
  font-size: 42px;
  color: #bfbfbf;
}
.about-electra img, .about-swim img {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

.about-electra .recuadro h2 {
  padding-left: 30px;
}

.about-swim .recuadro h2 {
  padding-left: 60px;
}

.titulo {
  margin: 0 0 15px 0;
  border: 1px solid #52504A;
}

.section-header {
  margin: 50px 0 10px 0;
}

.hijo .first h2 {
  text-align: center;
  margin: 20px 0 0 0;
  font-size: 26px;
}
@media only screen and (min-width: 768px) {
  .hijo .first {
    padding: 0 10% 0 10%;
  }
}
@media handheld, only screen and (max-width: 768px) {
  .hijo ul {
    background: #e8e8e8;
    margin-bottom: 25px;
    border: 1px solid;
  }
}
@media only screen and (min-width: 768px) {
  .hijo ul {
    height: 350px;
    overflow: hidden;
    margin-bottom: 20px;
    border: 3px solid #52504A;
  }
}
@media only screen and (min-width: 768px) {
  .hijo ul li {
    height: 350px;
    overflow: hidden;
    display: block;
  }
}
@media handheld, only screen and (max-width: 768px) {
  .hijo ul li .row {
    margin: 10px;
  }
}
@media only screen and (min-width: 768px) {
  .hijo ul li .row {
    height: 33%;
    width: 95%;
    margin: 0 auto;
    display: table;
  }
  .hijo ul li .row a {
    position: relative;
    bottom: -60px;
  }
}
@media handheld, only screen and (max-width: 768px) {
  .hijo ul li img.wp-post-image {
    width: 100%;
    height: auto;
  }
}
@media only screen and (min-width: 768px) {
  .hijo:nth-child(even) .first {
    float: right !important;
    border-left: 3px solid #52504A;
  }
  .hijo:nth-child(even) .secont {
    float: left !important;
  }
  .hijo:nth-child(odd) .first {
    float: left !important;
    border-right: 3px solid #52504A;
  }
  .hijo:nth-child(odd) .secont {
    float: right !important;
  }
}

.wrap-footer {
  margin: 20px 0 0 0;
  background-color: #f5f5f5;
  display: table;
  width: 100%;
}
.wrap-footer h1 {
  margin: 20px 0 5px 0;
  font-size: 28px;
}
.wrap-footer .visit {
  margin: 0 0 20px 0;
}
.wrap-footer .social-footer {
  padding: 20px;
  margin: 0 auto;
  max-width: 350px;
}
.wrap-footer .social-footer .social-icon {
  width: 33%;
}
.wrap-footer .copy {
  font-size: 12px;
  margin: 20px;
}
.wrap-footer .est {
  margin: 10px;
  font-size: 14px;
}

.wpcf7 {
  margin: 0 auto;
  text-align: center;
  margin: 0 0 25px 0;
}
.wpcf7 input[type=submit] {
  width: 200px;
  background: #EDEDEB;
  border: none;
  height: 60px;
}
.wpcf7 input[type=submit]:hover {
  background: #52504A;
  color: white;
}
.wpcf7 textarea, .wpcf7 input {
  width: 500px;
}

@media handheld, only screen and (max-width: 480px) {
  .sidebar {
    display: none;
  }
}

span.page-numbers.current {
  color: white;
  background: #c6c6c6;
}
span.page-numbers.current:hover {
  color: white;
  background: #c6c6c6;
}

.button-xl {
  display: block;
  color: #52504A;
  border: 2px solid #52504A;
  background: #EDEDEB;
  padding: 5px 50px 5px 50px;
  width: 200px;
  margin: 0 auto;
  bottom: 0;
  text-align: center;
}
.button-xl:hover {
  text-decoration: none;
  color: white;
  background: #52504A;
}

.pagination > li > a, .pagination > li > span {
  color: #000;
  border-radius: 100%;
  margin: 5px;
}

.pagination > li:last-child > a,
.pagination > li:last-child > span,
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  border-radius: 100%;
}

.js div#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: #333 url(../img/ripple.svg) no-repeat center center;
}

.js div#preloader no-svg {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: #333 url(../img/ripple.gif) no-repeat center center;
}

#svg-wrapper {
  height: 100vh;
}

#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

#loader {
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  z-index: 1001;
}

#loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: 51%;
  height: 100%;
  background: black;
  z-index: -10;
  transform: translateX(0);
}

#loader-wrapper .loader-section.section-left {
  left: 0;
}

#loader-wrapper .loader-section.section-right {
  right: 0;
}

/* Loaded */
.loaded #loader-wrapper .loader-section.section-left {
  transform: translateX(-100%);
  transition: all 1s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loaded #loader-wrapper .loader-section.section-right {
  transform: translateX(100%);
  transition: all 1s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loaded #loader {
  opacity: 0;
  transition: all 0.5s 0.5s ease-out;
}

.loaded #loader-wrapper {
  visibility: hidden;
  transform: translateY(-100%);
  transition: all 0.3s 2s ease-out;
}

.white {
  background: white;
}

.pantalla {
  background: black;
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  z-index: 9999999999;
}

.retire {
  background: none !important;
}

.initial svg {
  position: relative;
  top: 15%;
  height: 60%;
}

.resize {
  position: relative;
  top: -15%;
  height: 125%;
  transition: all 0.5s;
}

svg {
  width: 100%;
  height: 100%;
}

/*# sourceMappingURL=style.css.map */
