.navbar-default{
    margin: 0 0 20px 0;
    border: none;
    //border-bottom:1px solid #d9d9d9;
    text-align: left;    
    .container-fluid{
        background:$white;
        padding-left: 0;
        .navbar-header{
            img{
                margin:5px 0 0 0;
                width: 110px;
            }
        }
    }
}
.navbar-nav{
    @include MQ(MXL){
        position: absolute;
        bottom: -10px;
        right: 0;
    }
    li{
        .dropdown-menu{
        }
    }
}

.navbar-default .navbar-nav>li>a:hover{
    background: $color-1;
    color: $white;
}

.navbar-default .navbar-nav>.open>a, 
.navbar-default .navbar-nav>.open>a:focus, 
.navbar-default .navbar-nav>.open>a:hover, 
.navbar-default .navbar-nav>.open>a, 
.navbar-default .navbar-nav>.open>a:focus, 
.navbar-default .navbar-nav>.open>a:hover{
    background: none;
}
.navbar-default .navbar-nav .open .dropdown-menu>.active>a,
.navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover,
.navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus {
    background: #9D9D9D;
}
.dropdown-menu>.active>a, 
.dropdown-menu>.active>a:focus, 
.dropdown-menu>.active>a:hover{
    background: #9D9D9D;
    color: $white !important;
}
.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover, .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus{background: $color-1;color: $white}
.dropdown-menu {
    border: none;
    li{
        a{
            &:hover{
                background: $color-1;
                color: $white;
            }
        }
    }
}
.navbar-header{
    @keyframes title {
}
    .title{
        font-size: 12px;
        position: absolute;
        bottom: 5px;
        animation: title 5s linear infinite; 
    }
    a{
        &:hover{
            text-decoration: none;
        }
        
    }
}
