.coleccion{
    margin-top: 0;
    @include MQ(XL){
        padding:50px 50px 20px 50px;
        background: $color-2;
    }
    .contenedor{
        margin: 0;
        .columna { 
            @include MQ(SM){
                width: 100%;
            }
            @include MQ(L){
                width: 25%
            }
            width: 20%; }

        .columna-2 { 
            @include MQ(SM){
                width: 100%;
            }
            @include MQ(L){
                width: 50%
            }
            width: 40%; 
        }
        .texto-cont{
            padding: 5px;
        }
        .texto{ 
                //border: 3px solid $color-1;
                padding: 0 20px 0 0;
            @include MQ(MXL){
            }
                
            margin-bottom: 10px;
        }
        .img{
            padding: 5px;
            
            overflow: hidden;
            @include MQ(S){max-height: 200px;}
            a{
                img{
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
}
.contenido-single-post{
    min-height: 50vh;
    margin: 50px 0 50px 0;
}
.single-img{
    img{
        width: 100%;
        height: auto;
    }
}
.reciente{
    .reciente-title{
        h3{
        }
        hr{
            margin-bottom: 10px;
            border: 1px solid $color-1;
        }
    }
    article{
        padding: 5px;
        ul{
        border: 2px solid $color-1;
            padding: 0;
            .thu-content{
                height: 180px;
                overflow: hidden;
                img{
                    width: 100%;
                    height: auto;
                }
            }
            .title-articulo{
                a{color: $color-1;}
                background: $color-2;
                padding: 5px 0 5px 15px;
            }
        }
    }
}
